.custom-copy-button {
	background-color: inherit;
	color: inherit;
	border: 1px solid rgba(255, 255, 255, 0.13);
	border-radius: 100%;
	margin-left: 8px;

	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden-on-hover {
	opacity: 0;
	transition: opacity 0.2s;
}

[role="row"]:hover .hidden-on-hover {
	opacity: 1;
}

.custom-copy-button:hover {
	background-color: rgba(255, 255, 255, 0.443);
}

.custom-copy-on-board-icon {
	background-color: inherit;
	color: rgba(255, 255, 255, 0.81) !important;
	border: 1px solid rgba(255, 255, 255, 0.13);
	border-radius: 100%;

	width: 25px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
	margin-left: 88%;
	margin-bottom: 2%;
}

.custom-copy-on-board-icon:hover {
	background-color: rgba(255, 255, 255, 0.443);
}
