.custom-copy-button {
	background-color: inherit;
	color: inherit;
	border: 1px solid rgba(255, 255, 255, 0.13);
	border-radius: 8px;
	margin-left: 8px;
}
.custom-copy-button:hover {
	background-color: rgba(255, 255, 255, 0.443);
}

.custom-copy-on-board-icon {
	background-color: inherit;
	color: rgba(255, 255, 255, 0.81) !important;
	border: 1px solid rgba(255, 255, 255, 0.13);
	border-radius: 100%;

	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	margin-left: 90%;
}

.custom-copy-on-board-icon:hover {
	background-color: rgba(255, 255, 255, 0.443);
}
